# Data Setup

Load in average draft position (ADP) data

In [1]:
import pandas as pd

In [2]:
df_ADP = pd.read_html("https://www.fantasypros.com/nfl/adp/ppr-overall.php?year=2015")[0]
df_ADP["year"] = int(2015)
df_ADP.head()

,Rank,Player Team (Bye),POS,ESPN,RTSports,MFL,Fantrax,FFC,Sleeper,AVG,year
0,1,Le'Veon Bell,RB1,NaN,1.0,1.0,1.0,3.0,NaN,1.5,2015
1,2,Adrian Peterson SEA (9),RB2,NaN,2.0,2.0,2.0,1.0,NaN,1.8,2015
2,3,Antonio Brown,WR1,NaN,4.0,5.0,4.0,2.0,NaN,3.8,2015
3,4,Jamaal Charles,RB3,NaN,5.0,3.0,3.0,5.0,NaN,4.0,2015
4,5,Eddie Lacy,RB4,NaN,3.0,4.0,5.0,4.0,NaN,4.0,2015

In [3]:
for i in range(16, 22):
    df_ADP = df_ADP.append(pd.read_html("https://www.fantasypros.com/nfl/adp/ppr-overall.php?year=20" + str(i))[0])
    df_ADP.loc[df_ADP["year"].isnull(), "year"] = int("20" + str(i))
df_ADP.reset_index(drop = True, inplace = True)
df_ADP.sample(10)

,Rank,Player Team (Bye),POS,ESPN,RTSports,MFL,Fantrax,FFC,Sleeper,AVG,year
1646,226,Ryan Tannehill TEN (8),QB28,NaN,237.0,227.0,187.0,NaN,NaN,217.0,2018.0
3205,250,Laviska Shenault Jr. JAC (8),WR77,NaN,219.0,NaN,224.0,NaN,NaN,221.5,2020.0
379,380,Devin Smith,WR116,NaN,365.0,NaN,345.0,NaN,NaN,355.0,2015.0
3813,275,New York Giants DST (10),DST24,NaN,292.0,NaN,316.0,NaN,NaN,272.3,2021.0
159,160,Vernon Davis,TE17,NaN,138.0,171.0,199.0,161.0,NaN,167.3,2015.0
414,415,Mike Glennon NYG (11),QB46,NaN,NaN,NaN,378.0,NaN,NaN,378.0,2015.0
2163,255,Washington Commanders DST (10),DST25,996.0,270.0,271.0,283.0,NaN,NaN,409.8,2019.0
2372,464,Seth Roberts,WR152,688.0,NaN,NaN,354.0,NaN,NaN,521.0,2019.0
410,411,Colt McCoy ARI (9),QB45,NaN,NaN,NaN,374.0,NaN,NaN,374.0,2015.0
819,359,Jonathan Grimes,RB106,NaN,NaN,NaN,302.0,NaN,NaN,322.0,2016.0

In [4]:
df_ADP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4027 entries, 0 to 4026
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               4027 non-null   int64
 1   Player Team (Bye)  4025 non-null   object
 2   POS                4027 non-null   object
 3   ESPN               2136 non-null   float64
 4   RTSports           1586 non-null   float64
 5   MFL                1631 non-null   float64
 6   Fantrax            2854 non-null   float64
 7   FFC                1289 non-null   float64
 8   Sleeper            280 non-null    float64
 9   AVG                4027 non-null   float64
 10  year               4027 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 346.2+ KB

Clean column names

In [5]:
df_ADP.rename({
               "Rank": "rank_adp", 
               "Player Team (Bye)": "player", 
               "AVG": "avg_adp"
              }, axis = 1, inplace = True)
df_ADP.columns = df_ADP.columns.str.lower()
df_ADP.head()

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year
0,1,Le'Veon Bell,RB1,NaN,1.0,1.0,1.0,3.0,NaN,1.5,2015.0
1,2,Adrian Peterson SEA (9),RB2,NaN,2.0,2.0,2.0,1.0,NaN,1.8,2015.0
2,3,Antonio Brown,WR1,NaN,4.0,5.0,4.0,2.0,NaN,3.8,2015.0
3,4,Jamaal Charles,RB3,NaN,5.0,3.0,3.0,5.0,NaN,4.0,2015.0
4,5,Eddie Lacy,RB4,NaN,3.0,4.0,5.0,4.0,NaN,4.0,2015.0

Clean player names (because player names include team and bye)

In [6]:
temp = df_ADP["player"].str.split(n = 2)
df_ADP["player"] = temp.str[0] + " " + temp.str[1]
df_ADP.head()

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year
0,1,Le'Veon Bell,RB1,NaN,1.0,1.0,1.0,3.0,NaN,1.5,2015.0
1,2,Adrian Peterson,RB2,NaN,2.0,2.0,2.0,1.0,NaN,1.8,2015.0
2,3,Antonio Brown,WR1,NaN,4.0,5.0,4.0,2.0,NaN,3.8,2015.0
3,4,Jamaal Charles,RB3,NaN,5.0,3.0,3.0,5.0,NaN,4.0,2015.0
4,5,Eddie Lacy,RB4,NaN,3.0,4.0,5.0,4.0,NaN,4.0,2015.0

Clean position (because position includes ranking number)

In [7]:
df_ADP['pos'] = df_ADP['pos'].str.replace('\d+', '')
df_ADP.head()

C:\Users\mhugh\AppData\Local\Temp/ipykernel_9640/2860961360.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_ADP['pos'] = df_ADP['pos'].str.replace('\d+', '')

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year
0,1,Le'Veon Bell,RB,NaN,1.0,1.0,1.0,3.0,NaN,1.5,2015.0
1,2,Adrian Peterson,RB,NaN,2.0,2.0,2.0,1.0,NaN,1.8,2015.0
2,3,Antonio Brown,WR,NaN,4.0,5.0,4.0,2.0,NaN,3.8,2015.0
3,4,Jamaal Charles,RB,NaN,5.0,3.0,3.0,5.0,NaN,4.0,2015.0
4,5,Eddie Lacy,RB,NaN,3.0,4.0,5.0,4.0,NaN,4.0,2015.0

Load in points data (2015 to 2021)

In [8]:
df_points = pd.read_html("https://www.fantasypros.com/nfl/reports/leaders/ppr.php?year=2015&start=1&end=16")[0]
df_points["year"] = 2015
df_points.head()

   Rank          Player Team Position  Points  Games   Avg  year
0   1.0      Cam Newton  CAR       QB   356.4   15.0  23.8  2015
1   2.0     Julio Jones  ATL       WR   351.2   15.0  23.4  2015
2   3.0   Antonio Brown  PIT       WR   346.5   15.0  23.1  2015
3   4.0       Tom Brady   NE       QB   339.4   15.0  22.6  2015
4   5.0  Russell Wilson  SEA       QB   315.2   15.0  21.0  2015

In [9]:
for i in range(16, 22):
    df_points = df_points.append(
        pd.read_html("https://www.fantasypros.com/nfl/reports/leaders/ppr.php?year=20" + str(i) + "&start=1&end=16"
                    )[0])
    df_points.loc[df_points["year"].isnull(), "year"] = int("20" + str(i))
    
df_points.reset_index(drop = True, inplace = True)
df_points.sample(10)

       Rank            Player Team Position  Points  Games   Avg    year
4684  590.0       Kevin Rader  PIT       TE     2.8    2.0   1.4  2021.0
4104   11.0  Justin Jefferson  MIN       WR   296.5   15.0  19.8  2021.0
3974  599.0    Cody Hollister  TEN       WR     2.2    1.0   2.2  2020.0
2585    6.0    Jameis Winston   TB       QB   318.7   15.0  21.3  2019.0
1287    9.0       Kareem Hunt   KC       RB   285.7   15.0  19.1  2017.0
1937   21.0        Jared Goff  LAR       QB   286.3   15.0  19.1  2018.0
3840  465.0    D'Onta Foreman  TEN       RB    17.0    5.0   3.4  2020.0
138   139.0    Javorius Allen  BAL       RB   132.9   15.0   8.9  2015.0
4804  641.0  Daurice Fountain   KC       WR     0.0    1.0   0.0  2021.0
473   474.0      Brandon Tate  CIN       WR    13.9   15.0   0.9  2015.0

In [10]:
df_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4834 entries, 0 to 4833
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      4808 non-null   float64
 1   Player    4808 non-null   object
 2   Team      4808 non-null   object
 3   Position  4808 non-null   object
 4   Points    4808 non-null   float64
 5   Games     4808 non-null   float64
 6   Avg       4808 non-null   float64
 7   year      4834 non-null   float64
dtypes: float64(5), object(3)
memory usage: 302.2+ KB

In [11]:
df_points.rename({
                  "Rank": "rank_scoring", 
                  "Position": "pos", 
                  "Avg": "avg_scoring"
                 }, axis = 1, inplace = True)
df_points.columns = df_points.columns.str.lower()
df_points.head()

   rank_scoring          player team pos  points  games  avg_scoring    year
0           1.0      Cam Newton  CAR  QB   356.4   15.0         23.8  2015.0
1           2.0     Julio Jones  ATL  WR   351.2   15.0         23.4  2015.0
2           3.0   Antonio Brown  PIT  WR   346.5   15.0         23.1  2015.0
3           4.0       Tom Brady   NE  QB   339.4   15.0         22.6  2015.0
4           5.0  Russell Wilson  SEA  QB   315.2   15.0         21.0  2015.0

Clean player names (to match with ADP)

In [12]:
temp = df_points["player"].str.split(n = 2)
df_points["player"] = temp.str[0] + " " + temp.str[1]
df_points.head()

   rank_scoring          player team pos  points  games  avg_scoring    year
0           1.0      Cam Newton  CAR  QB   356.4   15.0         23.8  2015.0
1           2.0     Julio Jones  ATL  WR   351.2   15.0         23.4  2015.0
2           3.0   Antonio Brown  PIT  WR   346.5   15.0         23.1  2015.0
3           4.0       Tom Brady   NE  QB   339.4   15.0         22.6  2015.0
4           5.0  Russell Wilson  SEA  QB   315.2   15.0         21.0  2015.0

Merge dataframes

In [13]:
df = pd.merge(df_ADP, df_points,  how='left', on = ["player", "pos", "year"])
df.head()

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year,rank_scoring,team,points,games,avg_scoring
0,1,Le'Veon Bell,RB,NaN,1.0,1.0,1.0,3.0,NaN,1.5,2015.0,186.0,PIT,111.2,6.0,18.5
1,2,Adrian Peterson,RB,NaN,2.0,2.0,2.0,1.0,NaN,1.8,2015.0,29.0,MIN,246.9,15.0,16.5
2,3,Antonio Brown,WR,NaN,4.0,5.0,4.0,2.0,NaN,3.8,2015.0,3.0,PIT,346.5,15.0,23.1
3,4,Jamaal Charles,RB,NaN,5.0,3.0,3.0,5.0,NaN,4.0,2015.0,213.0,KC,101.1,5.0,20.2
4,5,Eddie Lacy,RB,NaN,3.0,4.0,5.0,4.0,NaN,4.0,2015.0,135.0,GB,134.5,14.0,9.6

Only include players who have played over 8 games and players with ADP before 251.

Players who played less than 9 games may have crazy averages due to low sample size.

Players with ADP above 250 would not get drafted in basically any fantasy league of reasonable size.

In [14]:
df = df.loc[(df["games"] > 8) & (df["rank_adp"] <= 250)]
df.head()

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year,rank_scoring,team,points,games,avg_scoring
1,2,Adrian Peterson,RB,NaN,2.0,2.0,2.0,1.0,NaN,1.8,2015.0,29.0,MIN,246.9,15.0,16.5
2,3,Antonio Brown,WR,NaN,4.0,5.0,4.0,2.0,NaN,3.8,2015.0,3.0,PIT,346.5,15.0,23.1
4,5,Eddie Lacy,RB,NaN,3.0,4.0,5.0,4.0,NaN,4.0,2015.0,135.0,GB,134.5,14.0,9.6
6,7,Julio Jones,WR,NaN,7.0,9.0,9.0,6.0,NaN,7.8,2015.0,2.0,ATL,351.2,15.0,23.4
7,8,Dez Bryant,WR,NaN,10.0,8.0,7.0,7.0,NaN,8.0,2015.0,240.0,DAL,89.1,9.0,9.9

Get ESPN Rankings

In [36]:
df_espn = pd.read_html("espn/2015.html", skiprows = [0])[0]
df_espn["year"] = 2015
df_espn.head()

   1  rank    pos     first      last  year
0  2     1  (RB1)   Le'Veon      Bell  2015
1  3     2  (RB2)    Adrian  Peterson  2015
2  4     3  (RB3)    Jamaal   Charles  2015
3  5     4  (RB4)     Eddie      Lacy  2015
4  6     5  (RB5)  Marshawn     Lynch  2015

In [37]:
for i in range(16, 22):
    df_espn = df_espn.append(pd.read_html("espn/20" + str(i) + ".html", skiprows = [0])[0])
    df_espn.loc[df_espn["year"].isnull(), "year"] = int("20" + str(i))

df_espn.drop("1", axis = 1, inplace = True)
df_espn.reset_index(drop = True, inplace = True)
df_espn.sample(10)

      rank     pos     first        last    year
1434   235  (RB72)   Anthony   McFarland  2019.0
1102   203  (RB65)     Chase     Edmonds  2018.0
2042   243  (QB24)    Jameis     Winston  2021.0
787    188  (WR67)   Mohamed        Sanu  2017.0
1779   280  (RB87)  Devontae      Booker  2020.0
476    177  (RB59)   DeAndre  Washington  2016.0
855    256  (WR93)     Jaron       Brown  2017.0
1245    46  (RB20)  Jonathan      Taylor  2019.0
1435   236  (RB73)  La'Mical      Perine  2019.0
1738   239  (RB76)       Ito       Smith  2020.0

In [44]:
df_fp = pd.read_csv("fantasypros/FantasyPros_2015_Draft_ALL_Rankings.csv")
df_fp["year"] = 2015
df_fp

,RK,TIERS,PLAYER NAME,TEAM,POS,BEST,WORST,AVG.,STD.DEV,year
0,1,1,Le'Veon Bell,FA,RB1,1,10,2.3,1.9,2015
1,2,1,Jamaal Charles,FA,RB2,1,15,4.3,3.1,2015
2,3,1,Adrian Peterson,SEA,RB3,1,14,4.5,3.8,2015
3,4,1,Antonio Brown,FA,WR1,1,13,4.5,2.3,2015
4,5,1,Eddie Lacy,FA,RB4,1,15,5.3,3.2,2015
...,...,...,...,...,...,...,...,...,...,...
361,362,15,Bruce Ellington,FA,WR119,209,429,319.0,110.0,2015
362,363,15,Lance Kendricks,FA,TE48,219,276,247.5,28.5,2015
363,364,15,Johnny Manziel,FA,QB34,231,440,335.5,104.5,2015
364,365,15,Ryan Mallett,FA,QB35,233,443,338.0,105.0,2015
365,366,16,Chris Matthews,FA,WR120,242,339,290.5,48.5,2015

In [46]:
for i in range(16, 22):
    df_fp = df_fp.append(pd.read_csv("fantasypros/FantasyPros_20" + str(i) + "_Draft_ALL_Rankings.csv"))
    df_fp.loc[df_fp["year"].isnull(), "year"] = int("20" + str(i))

df_fp.reset_index(drop = True, inplace = True)
df_fp.sample(10)

,RK,TIERS,PLAYER NAME,TEAM,POS,BEST,WORST,AVG.,STD.DEV,year,BYE WEEK,SOS SEASON,ECR VS. ADP
1083,366,14,Roberto Aguayo,FA,K26,224.0,240.0,231.5,7.1,2017.0,NaN,NaN,NaN
913,196,11,Jacksonville Jaguars,JAC,DST10,140.0,253.0,194.0,20.6,2017.0,NaN,NaN,NaN
2347,133,9,Blake Jarwin,FA,TE18,63.0,273.0,141.8,28.5,2020.0,NaN,NaN,NaN
642,277,14,DeAndre Smelter,FA,WR104,177.0,248.0,207.4,22.6,2016.0,NaN,NaN,NaN
3168,416,12,Freddie Swain,SEA,WR132,NaN,NaN,NaN,NaN,2021.0,9,4 out of 5 stars,-
869,152,10,Josh Doctson,FA,WR58,104.0,246.0,161.2,34.9,2017.0,NaN,NaN,NaN
1868,200,10,Trey Quinn,FA,WR68,105.0,346.0,198.8,51.6,2019.0,NaN,NaN,NaN
1367,220,11,Mike Wallace,FA,WR73,95.0,281.0,189.4,37.3,2018.0,NaN,NaN,NaN
611,246,13,Robert Turbin,FA,RB80,165.0,214.0,187.9,16.6,2016.0,NaN,NaN,NaN
1144,427,15,Daniel Lasco,FA,RB122,273.0,407.0,340.0,67.0,2017.0,NaN,NaN,NaN

In [15]:
# df.to_pickle("fp_data.pkl")